{% extends "app/layout.html.twig" %}

{% block page_title %} Routine {% endblock %}

{% block content %}
    <div style="background: antiquewhite; padding: 20px;" id="calendar"></div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth', //dayGridMonth //timeGridWeek //listWeek //timeGridDay
                hour12: false,
                meridiem: false,
                firstDay: 1,
                events: JSON.parse('{{ tasks | json_encode | raw }}')
            });
            calendar.render();
        });
    </script>
{% endblock %}