<nav class="h-full overflow-y-auto" aria-label="Directory">
    {% for routineCategory in routineCategories %}
        <div class="relative">
            <div class="mt-4 text-md font-medium text-gray-200">
                <h3>{{ routineCategory.name }}</h3>
            </div>
            <ul role="list" class="relative mt-4 grid md:grid-cols-2 gap-2 sm:grid-cols-1">
                    {{ routineCategory.html | raw }}
            </ul>
        </div>
    {% endfor %}
</nav>
