{% extends "app/layout.html.twig" %}

{% block page_title %} Pages Category {% endblock %}

{% block content %}
    <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">

            <div class="sm:flex-auto">
                <p class="mt-2 text-sm text-gray-200">A list of all your page categories.</p>
            </div>

            <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
                <a href="/pages-category/new"
                   class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">
                    Add page category
                </a>
            </div>
        </div>
        <div class="-mx-4 mt-8 overflow-hidden ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300">
                <thead class="text-gray-100">
                <tr>
                    <th scope="col"
                        class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6">Name
                    </th>
                    <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
                </thead>

                <tbody class="divide-y divide-gray-200 text-gray-200">

                {% for category in pagesCategory %}
                    <tr>
                        <td class="whitespace-nowrap px-3 py-4 text-sm sm:table-cell">
                            {{ category.name }}
                        </td>
                        <td class="whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                            <a href="/pages-category/{{ category.id }}/edit" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                            <a href="/pages-category/{{ category.id }}/delete" class="text-red-600 hover:text-red-900">Delete</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
