<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main2.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js" integrity="sha256-dHUNnePy81fXq4D/wfu7cPsEIP7zl6MvLb84jtZf+UY=" crossorigin="anonymous"></script>
    <style>
        .fc-day-sat, .fc-day-sun {
            background: #c8c8c861;
        }

        .free-day {
            background: #c8c8c861;
        }

        .calendar-done {
            text-decoration: line-through;
            color: green;
        }

        .fc-daygrid-block-event.calendar-done {
            text-decoration: line-through;
            background: green;
            border: 1px solid green;
        }
    </style>
</head>
<body class="bg-gray-800">
    <div>
        {{ sidebar() }}

        <div class="md:pl-64 flex flex-col">
            {% include "app/header.html.twig" %}

            <main class="flex-1">
                <div class="py-6">
                    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                        <h1 class="text-2xl font-semibold text-white">{% block page_title %}{% endblock %}</h1>
                    </div>

                    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </main>

        </div>
    </div>

    <div id="modal"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3/dist/chart.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/main2.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>