<div class="mb-6">
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-4">
        <div class="px-4 py-5 bg-gray-700 shadow rounded-lg overflow-hidden sm:p-6">
            <dt class="text-sm font-medium text-gray-200 truncate">Productive Hours</dt>
            <dd class="mt-1 text-3xl font-semibold text-white">{{ productive_hours }}</dd>
        </div>

        <div class="px-4 py-5 bg-gray-700 shadow rounded-lg overflow-hidden sm:p-6">
            <dt class="text-sm font-medium text-gray-200 truncate">Avg Points (7 days)</dt>
            <dd class="mt-1 text-3xl font-semibold text-white">{{ avg_points }}</dd>
        </div>

        <div class="px-4 py-5 bg-gray-700 shadow rounded-lg overflow-hidden sm:p-6">
            <dt class="text-sm font-medium text-gray-200 truncate">Start hour</dt>
            <dd class="mt-1 text-3xl font-semibold text-white">{{ start_hour }}</dd>
        </div>

        <div class="px-4 py-5 bg-gray-700 shadow rounded-lg overflow-hidden sm:p-6">
            <dt class="text-sm font-medium text-gray-200 truncate">Kg</dt>
            <dd class="mt-1 text-3xl font-semibold text-white">{{ kg }}</dd>
        </div>
    </dl>
</div>