<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>30andBeyond {% block title %}{% endblock %}</title>
    <link href="/css/main2.css" rel="stylesheet">
</head>
<body>

{% include "web/header.html.twig" %}

{% block content %}{% endblock %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="/js/main.js"></script>
<script src="/js/main2.js"></script>

<script>
    $('#web-open-menu').click(function() {
        $('#web-menu').removeClass('hidden');
    });

    $('#web-close-menu').click(function() {
        $('#web-menu').addClass('hidden');
    });
</script>
{% block scripts %}{% endblock %}
</body>
</html>



